
img.normal { float: left; height: 300px; width: 300px; padding: 10px;}
img.alta { float: left; height: 420px; width: 300px; padding: 10px;}
img.exerc { float: left; height: 200px; width: 200px; padding: 10px;}
h1 { border-bottom-style: inset; }  
pre { font-size: 1.2em; }